html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #EEE;
}

h1, p {
  font-family: Lato, serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

article {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
